<app-table
  $[config]="$.tableConfig$"
>
  <rx-slot
    name="header"
    let-column
  >
    <rx-switch expression="column">
      <rx-switch-case case="'firstname'">
        Firstname
      </rx-switch-case>
      <rx-switch-case case="'lastname'">
        Lastname
      </rx-switch-case>
      <rx-switch-case case="'age'">
        Age
      </rx-switch-case>
    </rx-switch>
  </rx-slot>

  <rx-slot
    name="body"
    let-column
    let-row
  >
    <rx-switch expression="column">
      <rx-switch-case case="'firstname'">
        {{ row.firstname }}
      </rx-switch-case>
      <rx-switch-case case="'lastname'">
        {{ row.lastname }}
      </rx-switch-case>
      <rx-switch-case case="'age'">
        {{ row.age }}
      </rx-switch-case>
    </rx-switch>
  </rx-slot>
</app-table>
